@charset "utf-8";
.bg div{background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../images/music_17-pc.png)}

@media only screen and (max-width:767px){
    .bg div{background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../images/music_17.png)}
}
body{
--link-block-corner:0px;
--link-block-bg-color:rgba(1,250,225,1.000);
--link-block-font-color:#111111;
--link-block-shadow-color:#111111;
--link-block-border-color:#111111;
--link-thumbnail-radius:50%;
--link-thumbnail-color:#111111;
--link-action-bg-color:#111111;
--link-action-font-color:#01FAE1;
--link-social-color:#01FAE1;
}
body,body .center{font-family:Archive;--link-font:Archive;}
body{--link-title-color:#01FAE1;--link-desc-color:#01FAE1}
.cmpt-button-buttonLink .show-sortNum::before{left:-30px;}
.item-style::before,.item-style::after,.item-style .ctm-style::before,.item-style .ctm-style::after{display:none;background:transparent;transform:none;border:0;}
.item-style{padding:0;margin:var(--link-block-button-margin-shadow) 0;-webkit-backdrop-filter:blur(0);backdrop-filter:blur(0);background:transparent;clip-path:none}
.item-style .ctm-style{border:0!important;margin:0;background:transparent;clip-path:none}
.item-style:not(.button--expended):hover .ctm-style{margin:0;}
.item-no-hover:hover .ctm-style{margin:0!important}
.item-style{border-radius:var(--link-block-corner);background-color:var(--link-block-bg-color)!important;border:2px solid var(--link-block-border-color)!important;box-shadow:var(--link-block-border-shadow);margin-bottom:32px}
.item-style:not(.button--expended):hover{transform:translate(4px, 4px);box-shadow:var(--link-block-border-shadow-hover);background-color:var(--link-block-bg-color)!important;}
.item-style:not(.button--expended):hover .btn,.item-style:not(.button--expended):hover .btn-status,.item-style:not(.button--expended):hover .btn .btn-text,.item-style:not(.button--expended):hover .btn .link-text{color:var(--link-block-font-color)!important}
.item-style:not(.button--expended):hover .btn-icon span{color:var(--link-block-font-color)!important;border-color:var(--link-block-font-color)!important}
.item-form::before,.item-form::after,.item-form .ctm-style::before,.item-form .ctm-style::after{display:none;background:transparent;transform:none;border:0;}
.item-form{padding:0;margin:var(--link-block-margin) 0;-webkit-backdrop-filter:blur(0);backdrop-filter:blur(0);background:transparent;clip-path:none}
.item-form .ctm-style{border:0!important;margin:0;background-color:transparent;background:transparent;clip-path:none}
.item-form{background-color:var(--link-block-bg-color)!important;border:2px solid var(--link-block-border-color)!important;box-shadow:var(--link-block-border-shadow);margin-bottom:32px}
.item-form .form-control input, .item-form .form-control select, .item-form .form-control textarea{border-radius:var(--link-block-corner);}
.item-form .form-field-phone .dial-code{border-radius:var(--link-block-corner) 0 0 var(--link-block-corner);}
.item-form .form-field-phone input.data-field{border-radius:0 var(--link-block-corner) var(--link-block-corner) 0;}
.item-form .form-button button{border-radius:var(--form-tmpl-radius)}
.item-video .video-box iframe, .item-video .video-box img{border-radius:var(--link-block-corner)}
.item-ytbsub,.item-twitter,.item-pins,.item-pins .embed-pins{border-radius:var(--link-block-corner)}
.item-support::before,.item-support::after,.item-support .ctm-style::before,.item-support .ctm-style::after{display:none;background:transparent;transform:none;border:0;}
.item-support{padding:0;margin:var(--link-block-margin) 0;-webkit-backdrop-filter:blur(0);backdrop-filter:blur(0);background:transparent;clip-path:none}
.item-support .ctm-style{border:0!important;margin:0;background:transparent;clip-path:none}
.item-support{border-radius:var(--link-block-corner);background-color:var(--link-block-bg-color)!important;border:2px solid var(--link-block-border-color)!important;box-shadow:var(--link-block-border-shadow);margin-bottom:20px}
.item-support .form-control input, .item-support .form-control select, .item-support .form-control textarea{border-radius:var(--link-block-corner);}
.item-support .support-action button{border-radius:var(--link-block-corner)}
.biolink,.link-form,.edit-form,.bio-support,.bio-form,.bio-graphic,.bio-carousel,.bio-block{padding:0 12px 0 0;}
.item-block::before,.item-block::after,.item-block .ctm-style::before,.item-block .ctm-style::after{display:none;background:transparent;transform:none;border:0;}
.item-block{padding:0;margin:var(--link-block-button-margin-shadow) 0;-webkit-backdrop-filter:blur(0);backdrop-filter:blur(0);background:transparent;clip-path:none}
.item-block .ctm-style{border:0!important;margin:0;;background:transparent;clip-path:none}
.item-block:hover .ctm-style{margin:0;}
.item-block{padding:0;margin:var(--link-block-button-margin-shadow) 0;border-radius:var(--link-block-corner);background-color:var(--link-block-bg-color)!important;border:2px solid var(--link-block-border-color)!important;box-shadow:var(--link-block-border-shadow);margin-bottom:32px}
.item .item--bg,.item-block .item--bg{display:none}
.item .item--bg::before,.item-block .item--bg::before{content:"";display:none;}
.item .item--bg::after,.item-block .item--bg::after{content:"";display:none;}
.biolink{
--link-block-padding:0px;
}
.item-graphic{
--link-block-padding:0px;
 --link-graphic-corner:calc(var(--link-block-corner) - var(--link-block-border) - var(--link-block-padding));
 --link-block-radius: var(--link-graphic-corner);
 --link-block-radius-link:var(--link-graphic-corner) 0 0 var(--link-graphic-corner);
 --link-block-radius-link-2n:0 var(--link-graphic-corner) var(--link-graphic-corner) 0;
 --link-block-radius-link1:var(--link-block-radius-link);
 --link-block-radius-link2:0 var(--link-graphic-corner) var(--link-graphic-corner) 0;
 --link-block-radius-image2:var(--link-graphic-corner) var(--link-graphic-corner) 0 0;
}

.item .btn,.item .btn .btn-text, .item .btn-text .link-text{color:var(--link-block-font-color)!important;}
.item .btn-icon img{display:block;}.item .btn-icon span{display:none;}
.layout-basic{display:block;text-align:center;}.layout-basic .avatar{margin-left:auto;margin-right:auto}
.center .avatar{width:100px;height:100px;min-width:100px;}
.center .avatar img{border-width:2px}
.center .avatar,.center .avatar img{border-radius:50%;}body{--link-profile-corner:50%}
.center .avatar img{border-color:#01FAE1}
.social_list li a img,.social_list li a span.borderColor,.social_list li a span.line,.social_list li a span.solid{display:none;}.social_list li a span.solid{display:block;}
.item-divider [class^=cmpt-divider-]{width:75%}
